body {
    margin: 0;
    padding: 0;}

a {
    color: inherit; 
    text-decoration: inherit; 
  }
  
  a:visited {
    color: inherit;
    text-decoration: inherit;
  }
  
  .powrot {
    position: relative;
    height: 30;
  width:115;
  margin: 40;
  font-size: 25;
  font-family: Helvetica, sans-serif;
  font-weight: 500;
  color: E1FF9D;
  background-color: 0059FF;
  z-index: 90;
  }
  
  .powrot:hover {
    font-family: 'Playfair Display';
  font-style: italic;
  text-decoration: underline;
  line-height: 100%;
  cursor: pointer;
  }
  
  .dalej {
    position: relative;
    height: 30;
    width:80;
  bottom: 100;
  left: 92vw;
  font-size: 25;
  font-family: Helvetica, sans-serif;
  font-weight: 500;
  color: E1FF9D;
  background-color: 0059FF;
  }
  
  .dalej:hover {
  font-family: 'Playfair Display';
  font-style: italic;
  text-decoration: underline;
  line-height: 100%;
  cursor: pointer;
  }

.cont {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.img-cont {
    grid-column: 1;
    
}

.img-cont img {
    width: 200px;
    padding: 140px 22%;
    align-self: center;
    animation: appear 5s ease-in;
animation-timeline: view();
animation-range: entry 0 cover 30%;
}

.tekst {
    font-family: "Lora";
    line-height: 1.5;
    font-size: 30px;
    padding: 40px 0px;
    margin-right: 150px;
    margin-bottom: 120px;
}

@keyframes appear {
    from {
      opacity: 0;
      transform: translateY(200px);
    }
    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }